*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* Sidebar */
.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #4a4a4a;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav-link {
  color: #ffffffcc;
  font-weight: 500;
  transition: background 0.2s ease, color 0.2s ease;
  border-radius: 6px;
  padding: 8px 10px;
}

.nav-link:hover {
  background-color: #5a5a5a;
  color: white;
}

.nav-link.active {
  background-color: #d62828;
  color: white !important;
}

/* Conteúdo principal */
body {
  background-color: #d9d9d9;
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  background-color: #e8e8e8;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.search-box input {
  border-radius: 8px 0 0 8px;
}

.search-box button {
  border-radius: 0 8px 8px 0;
}

.arrow-down {
  font-size: 1.2em;
}

.table thead th {
  color: #c0392b;
  font-weight: 600;
  border-bottom: 2px solid #d3d3d3;
}

.table tbody td {
  color: #333;
  padding: 10px 8px;
  vertical-align: middle;
}

.table tbody tr:hover {
  background-color: #f9f9f9;
}

.btn-outline-danger {
  border-color: #d62828;
  color: #d62828;
}

.btn-outline-danger:hover {
  background-color: #d62828;
  color: white;
}